*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: 'Montserrat', sans-serif;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#sidebar{
    width: 13%;
    background-color: black;
    /* height: 100%; */
    height: 90vh;
    color: #979595;
    padding: 1%;
    font-weight:700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar i {
    color: #cecccc;
    font-size: 20px;
    margin-right: 2%;
}

#sidebar img{
    width: 60%;
    margin-bottom: 6%;
}

ul{
    list-style: none;
}
#sidebar ul:first-of-type p{
    font-size: 13px;
}

#sidebar ul:first-of-type li{
    display: flex;
    margin: 5% 0;
    align-items: center;
}

#sidebar ul:nth-of-type(2) p:first-child{
        margin-top: 15%;
        font-weight: bold;
        color: white;
        font-size: 14px;
}

#sidebar ul:nth-of-type(2) li:first-of-type{
    display: flex;
    align-items: center;
    font-size: 15px;
}

#sidebar ul:nth-of-type(2) i{
    font-size: 40px;
    margin-right: 5%;
}

#sidebar ul:nth-of-type(2) li{
    padding: 5% 0;
    font-size: 13px;
}

#sidebar div:last-child div{
    display:flex;
    align-items: center;
}

#sidebar div:last-child div:first-child i{
        font-size: 15px;
        margin-right: 5%;
}

#sidebar div:last-child div:last-child p{
        font-size: 18px;
        color: white;
} 

#sidebar div:last-child div:last-child i{
    font-size: 30px;
    margin-right: 5%;
}

#sidebar hr{
    border-color:#4a4a4a;
    margin: 6% 0;
}


#menudisk ul{
    display: flex;
    color: white;
    margin: 1% 0;
    justify-content: center;
}

section{
    padding: 1% 1%;
}

section h2{
    color: white;
    margin-left: 0.5%;
}

section p{
    color: #979595;
    font-weight: bold;
    font-size: 10px;
    margin-top: 0.5%;
    margin-left: 0.5%;
}

#menudisk li{
    margin: 0 1%;
    font-size: 13px;
    color:#979595;
    font-weight: bold;
}

#recentdisk img, #creato img, #artist img{
        width: 100%;
        margin-bottom: 5%;
}


#recentdisk ul, #creato ul, #artist ul{
        margin-top: 2%;
        display: flex;
        color: white;
        flex-wrap: wrap;
}

#recentdisk ul li, #creato ul li, #artist li{
    width: 11%;
    text-align: center;  
    margin: 0 0.5%;
    font-size: 12px;
}

#recentdisk p{
    margin-top: 2%;
    font-weight: bold;
    color: #979595;
}

#artist img{
    border-radius: 50%;
}



#disk{
    width: 87%;
    background-color: #2b2831;
    height: 100%;
    overflow: auto;
    height: 90vh;
}







footer{
    background-color: #4a4a4a;
    color: white;
}


#main-nav{
    padding: 1% 1%;
    display: flex;
    justify-content: space-evenly;
}

#brano{
    display: flex;
    align-items: center;
    width: 30%;
}

#brano i{
    margin: 0 1%;
}

#brano div{
    margin-right: 10%;
    font-size: 12px;
}

#brano div b{
    font-size: 15px;
}


#brano img{
    width:10%;
    margin-right: 3%;
}

#player{
    text-align: center;
    width: 60%;
}

#player i:nth-of-type(3){
    width: 5%;
    font-size: 30px;
}

#player i{
    width: 5%;
    font-size: 20px;
}


#speaker{
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
}

#sbar{
    width: 23%;
    height: 5px;
    background-color: #807f7f;
    margin-left: 1%;
}


#sbard{
    width: 50%;
    height: 5px;
    background-color: #cac9c9;
}

#speaker i{
    width: 6%;
}

#bar{
    width: 60%;
    height: 5px;
    background-color: #807f7f;
    margin: 1% 3%;
}

#darkb{
    width: 20%;
    height: 5px;
    background-color: #cac9c9;
}


#player div:nth-of-type(2){
    justify-content: center;
    display: flex;
    align-items: center;
}

#player b{
    font-size: 13px;
}